* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'VT323', monospace;
}

body {
    background: linear-gradient(80deg, #f75e50, #91c09e);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 100vh;
}

img {
    position: absolute;
    left: 32%;
    top: -4%;

}

.container {
    padding: 20px;
    background-color: transparent;
    border-radius: 10px;
    margin-top: 10rem;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, .5)
}

button {
    padding: 10px;
    font-size: 40px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    margin: 8px;
}

button:hover {
    opacity: .8;
    transform: scale(1.04);
    transition: 0.2s ease-in-out;
}

button:active {
    opacity: .6;
    transition: 0.1s;
}

h1 {
    text-align: center;
}

#pedra {
    background-color: #91c09e;
}

#papel {
    background-color: #e8df9c;
}

#tesoura {
    background-color: #f75e50;
}

.buttons {
    margin: 10px 0;
}

p {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    line-height: 1.2;

}

.your-score span,
.machine-score span {
    color: #9b0800;
    font-size: 30px;
}

footer {
    color: black;
    padding: 2px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
}

@media screen and (max-width: 768px) {
    img {
        position: absolute;
        top: 10px;
        left: 13%;
        width: 70%;
        margin-bottom: 10px;
    }

    .container {
        width: 78%;
        
    }

    button {

        font-size: 30px;
        flex-direction: row;

    }
  

    .your-score span,
    .machine-score span {
        font-size: 24px;
    }

    footer {
        font-size: 12px;
    }
}